/* your beautiful css styling goes here! */

/* Note: an asteroid image is included in this repo.
Feel free to use it if you like. */
body {
    height: 670px;
    width: 900px;
    position:relative;
    background-color: rgb(200, 222, 223);
    border-style: solid;
}

svg {
  height:100%;
  width:100%;
}
circle {
  fill:black;
}

.user {
  fill:orange;
}
